{% extends "base_pacc.html" %}

{% block title %}Jardín Mi Arco Iris - {{ block.super }}{% endblock %}



{% block main_content %}
<h2>Alumnos de Sala Verde, turno mañana:</h2>
    <div class="row">
        <form class="well form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">Search</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Mariano Gutierrez</td>
                </tr>
                <tr>
                  <td>Nicolás Moya</td>
                </tr>
                <tr>
                  <td>Santiago Rojas</td>
                </tr>
                <tr>
                  <td>Mariano Gutierrez</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <li><a href="#">Anterior</a></li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">Siguiente</a></li>
            </ul>
        </div>
    </div>     
{% endblock %}
