{% extends 'college/base_college.html' %}
{% block title %}Detalle {{ object }}{% endblock %}
{% block content %}
	<ol class="breadcrumb">
	  <li><a href="{% url 'materias' %}">Materias</a></li>
	  <li class="active">Detalle</li>
	</ol>
	<br>
	<div class="row">
        <div class="col-sm-4 col-md-4">
           Ver que se quiere poner acá. Si es que va algo.
        </div>
       
    </div>
   
{% endblock %}
{% block extra_script %}
    <script>
        $('#materias').addClass('active');
    </script>
{% endblock %}