{% extends 'jardin/base_jardin.html' %}
{% load staticfiles %}
{% block title %}Pagos Unicos{% endblock %}
{% block content %}
	<ol class="breadcrumb">
	   <li><a href="{% url 'jardin' %}">Inicio</a></li>
	   <li class="active">Pagos Unicos</li>
	</ol>
	<h1 class="page-header">Pagos Unicos</h1>
		<div class="clearfix">
		    <div class="btn-group">
          {% if perms.finance.add_unicopago %}
		        <button onclick="window.location.href='{% url 'pago-unicos-al-jardin-nuevo' %}'" class="btn green">
		            Agregar Nuevo <i class="icon-plus"></i>
		        </button>
          {% endif %}
		    </div>
		</div>
		<div class="btn-group pull-right">
		    <form action="{% url 'pagos-unicos-al-jardin' %}" method="GET">
		        <input type="text" name="terms" class="form-control round-input" placeholder="Buscar"/>
		    </form>
		</div>
		<br><br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Alumno</th>
                  <th>Responsable</th>
                  <th>Paga</th>
                  <th>Fecha</th>
                  <th>Importe</th>
                  <th>Deuda</th>
                  <th>Tipo</th>
                  <th>Comentarios</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              	{% for pago in object_list %}
	                <tr id="f{{pago.id}}">
	                  <td>{{pago.alumno}}</td>
	                  <td>{{pago.responsable}}</td>
                    <td>{{pago.paga}}</td>
                    <td>{{pago.fecha}}</td>
                    <td>{{pago.importe}}</td>
                    <td>{{pago.deuda}}</td>
                    <td>{{pago.tipo}}</td>
                    <td>{{pago.comentarios}}</td>
	                  <td>
	                     <a data-original-title="Detalle" data-placement="top" data-toggle="tooltip" class="btn btn-info btn-sm tooltips" href="{% url 'pago-unicos-al-jardin-detail' pago.pk %}"><i class="glyphicon glyphicon-eye-open"></i></a>
                      {% if perms.finance.change_unicopago %}
	                     <a data-original-title="Editar" data-placement="top" data-toggle="tooltip" class="btn btn-success btn-sm tooltips" href="{% url 'pago-unicos-al-jardin-update' pago.pk %}"><i class="glyphicon glyphicon-pencil"></i></a>
                      {% endif %}
                      {% if perms.finance.delete_unicopago %}
	                     <a data-original-title="Eliminar" data-placement="top" class="btn btn-danger btn-sm tooltips" data-toggle="modal" href="#m{{pago.id}}"><i class="glyphicon glyphicon-trash"></i></a>
                      {% endif %}
	                </td>
	                </tr>
	                <!-- Modal -->
                    <div class="modal fade" id="m{{pago.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Eliminar Pago Unico</h4>
                                </div>
                                <div class="modal-body">

                                <p>¿Esta seguro que desea eliminar el pago unico<strong>{{pago}}</strong>?</p>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                                    <button id="{{pago.id}}" href="{% url 'pago-unicos-al-jardin' pago.pk %}" class="btn btn-danger eliminar" type="submit"> Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
	            {% endfor %}
              </tbody>
            </table>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/pagos-unicos/pago?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                        <span class="page-current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/pagos-unicos/pago?page={{ page_obj.next_page_number }}"> Siguiente</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          </div>
{% endblock %}
{% block extra_script %}
	<!-- Script para eliminar -->
	<script src="{% static 'js/college/eliminar.js' %}"></script>
  <script src="{% static 'js/college/orden-tabla.js' %}"></script>
	<script>
    $('#gestion-alumnos').addClass('active');
		$('#pagos-unicos').addClass('active');
	</script>
{% endblock %}