<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- Meta info begin-->
<title>Peekaboo - Themeforest Site Template by Population2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="index, follow" />
<!-- Meta info end-->
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel="stylesheet" type="text/css" href="./css/default.css" />
<link rel="shortcut icon" href="./img/favicon.ico" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/Museo.font.js"></script>
<script type="text/javascript" src="./js/Museo_Sans.font.js"></script>
<script type="text/javascript" src="./js/supersized.3.1.3.core.min.js"></script>
<script type="text/javascript" src="./js/superfish-compile.js"></script>
<script type="text/javascript" src="./js/jquery.colorbox.js"></script>
<script type="text/javascript" src="./js/jquery.twitter.js"></script>
<script type="text/javascript" src="./js/p2.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div id="content-wrapper"> 
	
	<!-- Container begin -->
	<div id="container"> 
		<!-- Header begin-->
		<div id="header" class="clearfix">
			<div id="logo"> <a href="./index.html"><img src="./img/logo.png" alt="logo" /></a> </div>
			
			<!-- Navigation start -->
			<ul class="sf-menu">
				<li> <a href="#">Pages</a>
					<ul>
						<li> <a href="./about.html">About</a></li>
						<li> <a href="./blog-1.html">Blog 1</a></li>
						<li> <a href="./blog-2.html">Blog 2</a></li>
						<li> <a href="./contact.html">Contact</a></li>
						<li> <a href="./search.html">Search</a></li>
						<li> <a href="./testimonials.html">Testimonials</a></li>
					</ul>
				</li>
				<li><a href="#">Samples</a>
					<ul>
						<li> <a href="./element.html">Element</a></li>
						<li> <a href="./grid.html">Grid</a></li>
						<li> <a href="./full-width.html">Full Width</a></li>
						<li> <a href="./single.html">Single</a></li>
					</ul>
				</li>
				<li> <a href="#">Gallery</a>
					<ul>
						<li> <a href="./gallery-1.html">Gallery 1</a></li>
						<li> <a href="./gallery-2.html">Gallery 2</a></li>
						<li> <a href="./gallery-3.html">Gallery 3</a></li>
					</ul>
				</li>
				<li><a href="./colors.html">Colors</a></li>
				<li> <a href="./landing.html">Landing page</a></li>
			</ul>
			<!-- Navigation end --> 
		</div>
		<!-- Header end --> 
		
		<!-- Main begin-->
		<div id="main" class="round_8 clearfix">
			<div class="page_title round_6">
				<h1 class="replace">About Us</h1>
			</div>
			<div id="content" class="left">
				<div class="col_312 alpha">
					<h3>A Leader in Child Care</h3>
					<p>Proin ornare bibendum nisl facilisis laoreet. Malem minggu, aye pergi ke bioskop. Bergandengan, ame pacar nonton koboi. Beli karcis, tau tau keabisan. Donec <a href="#">tempus tincidunt</a> lectus, a vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
					<p>Donec fringilla auctor aliquet. Sed et nibh sed leo adipiscing posuere. Cum sociis natoque penatibus et magnis dis parturient montes, <a href="#">nascetur ridiculus mus</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ipsum, ac placerat justo. </p>
				</div>
				<div class="col_312 omega">
					<h3>Our approach to education</h3>
					<p>Vivamus dictum tortor quis nibh sollicitudin venenatis. Quisque eleifend tincidunt lectus id lacinia. Sed dignissim adipiscing eros aliquet pellentesque.</p>
					<p><img class="alignleft shadow" src="./img/stock/310px-placeholder.jpg" alt="Thumbnail image" /></p>
				</div>
				<div class="clear"></div>
				<hr />
				<h3>Teachers</h3>
				<div class="col_146 alpha"> <img src="./img/staff-placeholder.jpg" alt="Staff image" class="shadow" />
					<dl class="profile">
						<dt>Sofia Elliston</dt>
						<dd class="job-title">- Pre K Teacher</dd>
						<dd>Donec eros lectus, volutpat ac commodo et, commodo eget urna. In vestibulum metus non eros sodales.</dd>
					</dl>
				</div>
				<div class="col_146"> <img src="./img/staff-placeholder.jpg" alt="Staff image" class="shadow" />
					<dl class="profile">
						<dt>Lenore Kittredge</dt>
						<dd class="job-title">- Pre K Teacher</dd>
						<dd>Curabitur fringilla nisi et ante auctor facilisis nec ac turpis. Nunc diam dolor, suscipit sit amet imperdiet vel.</dd>
					</dl>
				</div>
				<div class="col_146"> <img src="./img/staff-placeholder.jpg" alt="Staff image" class="shadow" />
					<dl class="profile">
						<dt>Carmella Warring</dt>
						<dd class="job-title">- Pre K Teacher</dd>
						<dd>Fusce accumsan porttitor mi, sed fermentum eros feugiat a. Nunc sed nisi felis, ac condimentum lorem.</dd>
					</dl>
				</div>
				<div class="col_146 omega"> <img src="./img/staff-placeholder.jpg" alt="Staff image" class="shadow" />
					<dl class="profile">
						<dt>Julianne Heintzman</dt>
						<dd class="job-title">- Pre K Teacher</dd>
						<dd>Vestibulum dapibus elit nec tellus egestas tincidunt. Cras pretium elementum sodales.</dd>
					</dl>
				</div>
			</div>
			<div id="sidebar" class="left">
				<ul id="submenu" class="shadow-light">
					<li><a href="#"><span>Sub Page 1</span></a></li>
					<li><a href="#"><span>Sub Page 2</span></a></li>
					<li><a href="#"><span>Sub Page 3</span></a></li>
					<li><a href="#"><span>Sub Page 4</span></a></li>
				</ul>
				<div class="sidebar-widget shadow-light">
					<div class="testimonials-container ">
						<h3 class="replace">What they say</h3>
						<p><a href="#">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</a><br />
							<small><em>John Doe</em></small></p>
					</div>
				</div>
				<div class="sidebar-widget shadow-light">
					<div class="directions">
						<h3 class="replace"><a href="#">Directions<br />
							<span>to our centers</span> </a></h3>
					</div>
				</div>
				<div class="sidebar-widget shadow-light">
					<div class="download">
						<h3 class="replace"><a href="#">Download<br />
							<span>our pdf brochure</span></a></h3>
					</div>
				</div>
				<div class="sidebar-widget">
					<div class="search">
						<form action="./search.html" method="post" />
							<div>
								<input name="text" type="text" class="search-field" alt="Search" />
								<input name="submit" type="image" class="search-submit" value="search" src="./img/search.png" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Main end --> 
		<!-- Footer begin -->
		<div id="footer" class="round_8 clearfix">
			<div class="col_201">
				<h4 class="replace">Latest News</h4>
				<ul class="bullet-list">
					<li><a href="#">Donec ut vestibulum nunc</a></li>
					<li><a href="#">Ut malesuada suscipit augue accumsan rutrum</a></li>
					<li><a href="#">Suspendisse non est ut augue dapibus pulvinar</a></li>
				</ul>
			</div>
			<div class="col_201">
				<h4 class="replace">Events</h4>
				<ul class="bullet-list">
					<li><a href="#">At faucibus nulla placerat ac</a><span class="date">March 1<sup>st</sup></span></li>
					<li><a href="#">Sed iaculis convallis</a><span class="date">April 6th</span></li>
					<li><a href="#">Lacus eros, luctus a faucibus vitae</a><span class="date">May 18th</span></li>
				</ul>
			</div>
			<div class="col_201">
				<h4 class="replace">Contact</h4>
				<address>
				8407 Kearsarge Dr<br />
				Austin, TX 78745-7647<br />
				P: (512) 280-28232<br />
				F: (512) 555-7856 <br />
				</address>
				<a id="modalmap" href="./about.html">Map It !</a> </div>
			<div class="col_240">
				<h4 class="replace">Twitter feed</h4>
				<div id="twitter"></div>
				<ul id="social">
					<li><a href="#"><img src="./img/twitter.png" alt="Twitter" /></a></li>
					<li><a href="#"><img src="./img/facebook.png" alt="Facebook" /></a></li>
					<li><a href="#"><img src="./img/youtube.png" alt="Youtube" /></a></li>
					<li><a href="#"><img src="./img/flickr.png" alt="Flickr" /></a></li>
				</ul>
			</div>
			<div id="footer-bottom">
				<div id="toTop" class="left">Back to Top</div>
				<div id="footer-note" class="right"><small>©2011 Theme by <strong>Population 2</strong>, designed for <strong>Themeforest</strong>.</small></div>
			</div>
		</div>
		<!-- Footer end --> 
	</div>
	<!-- Container end --> 
</div>

<!--Full background-->
<div id="supersized"></div>
</body>
</html>
