{% extends "base_website.html" %}
{% block title %}Actividades{% endblock %}
{% block content %}
<!-- Main begin-->
        <div id="main" class="round_8 clearfix">
            <div class="red page_title round_6">
                <h1 class="replace">Actividades</h1>
            </div>
            <h2 class="replace pad-left-10"></h2>
            <div class="full">
                            <p class="texto">Año tras año las diversas actividades realizadas en la Institución nos demuestran lo importante que es,
            él que cada una de las familias se sientan parte activa del Jardín de Infantes; es por ello que hacemos especial hincapié
            en la comunicación permanente y en el activo rol por parte de las mismas ya que mediante los actos escolares, reuniones
            de padres, entrevistas, actividades recreativas, eventos especiales, las familias pueden vivenciar la estadía escolar
            de sus hijos con placer, confianza y tranquilidad.</p> 
            <p class="texto">Durante el ciclo lectivo, los alumnos realizan las siguientes actividades:</p>
            <ul class="checklist">
                <li id="actos" style="cursor:pointer;"><strong>Actos escolares</strong></li>
                    <p class="texto1 texto_actos" style="display:none">Nuestro proyecto está basado en la necesidad de ofrecerles a nuestros alumnos una continuidad narrativa temporal significativa,
                    para que puedan iniciarse en la comprensión del origen de nuestras fiestas patrias, no solo circunscribiéndonos a lo sucedido en un día,
                    sino la parte de la vida de los actores que protagonizaron esos sucesos porque en sus acciones están encarnados los valores: el deseo de
                    libertad, de justicia, de abnegación, de cooperación, de amor a su patria y a la verdad.</p>
                    <p class="texto1 texto_actos" style="display:none">En los diferentes Actos Escolares toda la Comunidad Educativa vivencian las fiestas patrias acercándose a nuestras raíces, valorando nuestra
                    cultura y conociendo nuestra historia.</p>          

                <li id="actos1" style="cursor:pointer;"><strong>Bicicleteada</strong></li>
                    <p class="texto1 texto_actos1" style="display:none">Con el objetivo de crear conciencia sobre la importancia del cumplimiento de las normas de tránsito, realizamos la tan
                    ansiada Bicicleteada en compañía de las familias, compartiendo una jornada
                    diferente en un espacio al aire libre.</p>
                <li id="actos2" style="cursor:pointer;"><strong>Exposición</strong></li>
                    <p class="texto1 texto_actos2" style="display:none">Los niños son curiosos por naturaleza y nada mejor para su desarrollo cognitivo que estimularlos hacia la búsqueda, la pregunta, la hipótesis, la duda, la conclusión y
                    la reflexión; es decir, incentivarlos hacia la investigación.  Por todo esto, realizamos la exposición en la cual los alumnos mediante distintas temáticas
                    se acercan al conocimiento científico y participan realizando actividades, juegos y por supuesto exponiendo
                    todo lo aprendido.</p> 
                <li id="actos3" style="cursor:pointer;"><strong>Lecciones paseo</strong></li>
                    <p class="texto1 texto_actos3" style="display:none">Teniendo en cuenta las actividades planificadas por las docentes, realizamos una lección paseo (salida) para que los alumnos puedan vivenciar, explorar y
                    afianzar los aprendizajes y saberes previos,
                    además de disfrutar de una jornada especial.</p>
                <li id="actos4" style="cursor:pointer;"><strong>Campamento(alumnos de pre-escolar)</strong></li>
                    <p class="texto1 texto_actos4" style="display:none">Sabemos lo importante que es para los niños compartir momentos lúdicos y actividades de esparcimiento,
                    estrechando lazos entre compañeritos y docentes. Es por esto que juntos, disfrutamos de esta experiencia tan enriquecedora, como cierre de su paso por el
                    Jardín de Infantes.</p>
                <li id="actos5" style="cursor:pointer;"><strong>Festival de fin de año</strong></li>
                    <p class="texto1 texto_actos5" style="display:none">Con gran felicidad por haber vivido otra vez un año poblado de amor y aprendizaje;
                    disfrutamos juntos esta maravillosa puesta que nos regalan los niños del
                    jardín.</p>
                <li id="actos6" style="cursor:pointer;"><strong>Fiesta de egresados</strong></li>
                    <p class="texto1 texto_actos6" style="display:none">Con todo nuestro amor despedimos a nuestros queridos "Egresados"
                    a quienes hemos acompañado durante esta hermosa etapa escolar.</p>
            </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Main end --> 
{% endblock %}