<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- Meta info begin-->
<title>Peekaboo - Themeforest Site Template by Population2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="index, follow" />
<!-- Meta info end-->
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel="stylesheet" type="text/css" href="./css/default.css" />
<link rel="shortcut icon" href="./img/favicon.ico" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/Museo.font.js"></script>
<script type="text/javascript" src="./js/Museo_Sans.font.js"></script>
<script type="text/javascript" src="./js/supersized.3.1.3.core.min.js"></script>
<script type="text/javascript" src="./js/superfish-compile.js"></script>
<script type="text/javascript" src="./js/jquery.colorbox.js"></script>
<script type="text/javascript" src="./js/jquery.twitter.js"></script>
<script type="text/javascript" src="./js/p2.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div id="content-wrapper"> 
	
	<!-- Container begin -->
	<div id="container"> 
		<!-- Header begin-->
		<div id="header" class="clearfix">
			<div id="logo"> <a href="./index.html"><img src="./img/logo.png" alt="logo" /></a> </div>
			
			<!-- Navigation start -->
			<ul class="sf-menu">
				<li> <a href="#">Pages</a>
					<ul>
						<li> <a href="./about.html">About</a></li>
						<li> <a href="./blog-1.html">Blog 1</a></li>
						<li> <a href="./blog-2.html">Blog 2</a></li>
						<li> <a href="./contact.html">Contact</a></li>
						<li> <a href="./search.html">Search</a></li>
						<li> <a href="./testimonials.html">Testimonials</a></li>
					</ul>
				</li>
				<li><a href="#">Samples</a>
					<ul>
						<li> <a href="./element.html">Element</a></li>
						<li> <a href="./grid.html">Grid</a></li>
						<li> <a href="./full-width.html">Full Width</a></li>
						<li> <a href="./single.html">Single</a></li>
					</ul>
				</li>
				<li> <a href="#">Gallery</a>
					<ul>
						<li> <a href="./gallery-1.html">Gallery 1</a></li>
						<li> <a href="./gallery-2.html">Gallery 2</a></li>
						<li> <a href="./gallery-3.html">Gallery 3</a></li>
					</ul>
				</li>
				<li><a href="./colors.html">Colors</a></li>
				<li> <a href="./landing.html">Landing page</a></li>
			</ul>
			<!-- Navigation end --> 
		</div>
		<!-- header end --> 
		
		<!-- main start -->
		<div id="main" class="round_8 clearfix">
			<div class="page_title round_6">
				<h1 class="replace">Elements Overview</h1>
			</div>
			<div class="col_445">
				<h1>Heading 1</h1>
				<p>Rizzle eu izzle. Aliquam porta funky fresh fizzle. Aenizzle crunk, sapien fizzle vulputate hendrerit, libero fo shizzle my nizzle hendrerit own yo', nizzle ass nunc shut the shizzle up at that's the shizzle.</p>
				<h2>Heading 2</h2>
				<p>Donizzle eu dolor. Its fo rizzle quis felizzle. Dang elementum faucibizzle erizzle. Integizzle tellivizzle sizzle, you son of a bizzle yippiyo, volutpat shiz, stuff shit, nunc. Sizzle fizzle.</p>
				<h3>Heading 3</h3>
				<p>Nunc fo shizzle. Curabitizzle sizzle amizzle leo nec phat blandizzle cool. Quisque laorizzle tellizzle doggy amizzle enizzle. Shiz mammasay mammasa mamma oo sa dignissim crunk.</p>
				<h4>Heading 4</h4>
				<p>Integizzle non gizzle. Phasellizzle doggy, nulla things vehicula congue, velizzle shizznit convallizzle quizzle, daahng dawg elementum sapizzle leo vizzle nulla. Vivamizzle break it down laoreet crazy.</p>
				<h5>Heading 5</h5>
				<p> Etizzle rhoncus owned magna. Crizzle interdizzle ornare leo. Vestibulizzle urna quizzle, pimpin' a, lacinia izzle, its fo rizzle shiznit, urna. Vivamus shit sure sapizzle. Daahng dawg mah nizzle gravida lectus.</p>
				<br />
				<h4>Unordered list</h4>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ul>
				<h4>Ordered list</h4>
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ol>
				<h4>Check list</h4>
				<ul class="checklist">
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Aliquam tincidunt mauris eu risus.</li>
					<li>Vestibulum auctor dapibus neque.</li>
				</ul>
				<h3>Paragraph</h3>
				<img class="alignleft shadow" src="./img/stock/180x135_post_thumbnail_1.jpg" alt="Post thumbail 1" />
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
				<img class="alignright shadow" src="./img/stock/180x135_post_thumbnail_2.jpg" alt="Post thumbail 2" />
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
				<table cellspacing="0" cellpadding="0">
					<tr>
						<th>Table Header 1</th>
						<th>Table Header 2</th>
						<th>Table Header 3</th>
					</tr>
					<tr>
						<td>Division 1</td>
						<td>Division 2</td>
						<td>Division 3</td>
					</tr>
					<tr>
						<td>Division 1</td>
						<td>Division 2</td>
						<td>Division 3</td>
					</tr>
					<tr>
						<td>Division 1</td>
						<td>Division 2</td>
						<td>Division 3</td>
					</tr>
				</table>
			</div>
			<div class="col_445">
				<h4>Blockquote text</h4>
				<code>&lt;blockquote&gt; [...] &lt;/blockquote&gt;</code>
				<blockquote>
					<p>Nobody else could catch one except me. You know how I did it? Every time I put the line in the water I said a Hail Mary and every time I said a Hail Mary I caught a fish. You believe that? It's true, that's the secret. You wanna try it when we go out on the lake? </p>
					<p class="author right"><small>Fredo Corleone<em>-Blockquote</em></small></p>
				</blockquote>
				<h4>Pullquote left</h4>
				<code>&lt;span class="pullquote_left"&gt; [...] &lt;/span&gt;</code>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod officia tempor incididunt ut labore et dolore magna aliqua. Ut enim ader minim veniam, <span class="pullquote_left">Similique sunt in culpawe quillor officia deseruntil mollitiaro laborum etrom dolorum fugar doloribusto</span> quisvitael nostrud exercitation ullamco robi laboris nisiutoy aliquip expeart commodol consequatore duis aute irure dolor intropa reprehenderit in voluptate velit esse cillum dolore fugia nulla pariatur excepteur sintre occaecat cupidatat non proident, sunt culpaqui officia deseruntas mollit anim id laborum architecto beatae vitae dicta sunt explicabo porro reiciendis voluptatibu. Proin eget nisl nunc. Nulla facilisi. Mauris non elit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<h4>Pullquote right</h4>
				<code>&lt;span class="pullquote_right"&gt; [...] &lt;/span&gt;</code>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod officia tempor incididunt ut labore et dolore magna aliqua. Ut enim ader minim veniam, <span class="pullquote_right">Similique sunt in culpawe quillor officia deseruntil mollitiaro laborum etrom dolorum fugar doloribusto</span> quisvitael nostrud exercitation ullamcoro laboris nisiutoy aliquip expeart commodo consequatore duis aue irure dolor soluta intropa reprehenderit in voluptate velitosa esse cillum dolore fugia nulla pariaturep excepteur sintre occaecat cupidatat non proident, culpaqui officia deseruntasilo mollit anim laborum architecto beatae vitae dicta sunt explicabo porro reiciendi. Proin eget nisl nunc. Nulla facilisi. Mauris non elit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<h4>Highlight</h4>
				<code>&lt;span class="highlight"&gt; [...] &lt;/span&gt;</code>
				<p>Lorem Ipsum is simply <span class="highlight">dummy text of the printing and typesetting</span> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Aliquam blandit mauris sed sapien sollicitudin ac semper diam.</p>
				<h4>Italic type</h4>
				<code>&lt;em&gt; [...] &lt;/em&gt;</code>
				<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum lorem, ornare id mattis sed, porta at elit. Aliquam blandit mauris sed sapien sollicitudin ac semper diam pellentesque. Nunc quis nisi dolor, et iaculis velit.</em></p>
				<h4>Bold type</h4>
				<code>&lt;strong&gt; [...] &lt;/strong&gt;</code>
				<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum lorem, ornare id mattis sed, porta at elit. Aliquam blandit mauris sed sapien sollicitudin ac semper diam pellentesque. Nunc quis nisi dolor, et iaculis velit.</strong></p>
			</div>
			<div class="clearfix"></div>
			<hr />
			<h2 class="pad-left-10">Buttons</h2>
			<div class="col_290"> <a class="red small fancy" href="#">See Plans</a> <a class="red medium fancy" href="#">See Plans</a> <a class="red large fancy" href="#">See Plans</a> <br />
				<br />
				<a class="orange small fancy" href="#">See Plans</a> <a class="orange medium fancy" href="#">See Plans</a> <a class="orange large fancy" href="#">See Plans</a> <br />
				<br />
				<a class="yellow small fancy" href="#">See Plans</a> <a class="yellow medium fancy" href="#">See Plans</a> <a class="yellow large fancy" href="#">See Plans</a> <br />
				<br />
				<a class="green small fancy" href="#">See Plans</a> <a class="green medium fancy" href="#">See Plans</a> <a class="green large fancy" href="#">See Plans</a> <br />
				<br />
				<a class="blue small fancy" href="#">See Plans</a> <a class="blue medium fancy" href="#">See Plans</a> <a class="blue large fancy" href="#">See Plans</a> <br />
				<br />
			</div>
			<div class="col_290"> <a class="red small carnival" href="#">Drop a line</a> <a class="red medium carnival" href="#">Drop a line</a> <a class="red large carnival" href="#">Drop a line</a> <br />
				<br />
				<a class="orange small carnival" href="#">Drop a line</a> <a class="orange medium carnival" href="#">Drop a line</a> <a class="orange large carnival" href="#">Drop a line</a> <br />
				<br />
				<a class="yellow small carnival" href="#">Drop a line</a> <a class="yellow medium carnival" href="#">Drop a line</a> <a class="yellow large carnival" href="#">Drop a line</a> <br />
				<br />
				<a class="green small carnival" href="#">Drop a line</a> <a class="green medium carnival" href="#">Drop a line</a> <a class="green large carnival" href="#">Drop a line</a> <br />
				<br />
				<a class="blue small carnival" href="#">Drop a line</a> <a class="blue medium carnival" href="#">Drop a line</a> <a class="blue large carnival" href="#">Drop a line</a> <br />
				<br />
			</div>
			<div class="col_290"> <a class="red small tape" href="#">Sign up</a> <a class="red medium tape" href="#">Sign up</a> <a class="red large tape" href="#">Sign up</a> <br />
				<br />
				<a class="orange small tape" href="#">Sign up</a> <a class="orange medium tape" href="#">Sign up</a> <a class="orange large tape" href="#">Sign up</a> <br />
				<br />
				<a class="yellow small tape" href="#">Sign up</a> <a class="yellow medium tape" href="#">Sign up</a> <a class="yellow large tape" href="#">Sign up</a> <br />
				<br />
				<a class="green small tape" href="#">Sign up</a> <a class="green medium tape" href="#">Sign up</a> <a class="green large tape" href="#">Sign up</a> <br />
				<br />
				<a class="blue small tape" href="#">Sign up</a> <a class="blue medium tape" href="#">Sign up</a> <a class="blue large tape" href="#">Sign up</a> <br />
				<br />
			</div>
			<div class="clearfix"></div>
			<hr />
			<div class="full">
				<h2>Page Title</h2>
				<code>&lt;div class="color page_title round_6"&gt; [...] &lt;/div&gt;</code> </div>
			<div class="red page_title round_6">
				<h1 class="replace">Red Page Title</h1>
			</div>
			<div class="orange page_title round_6">
				<h1 class="replace">Orange Page Title</h1>
			</div>
			<div class="yellow page_title round_6">
				<h1 class="replace">Yellow Page Title</h1>
			</div>
			<div class="green page_title round_6">
				<h1 class="replace">Green Page Title</h1>
			</div>
			<div class="blue page_title round_6">
				<h1 class="replace">Blue Page Title</h1>
			</div>
			<div class="clearfix"></div>
			<div class="full">
				<hr />
			</div>
		</div>
		<!-- main end --> 
        <!-- Footer begin -->
        <div id="footer" class="round_8 clearfix">
            <div class="col_201">
                <h4 class="replace">Latest News</h4>
                <ul class="bullet-list">
                    <li><a href="#">Donec ut vestibulum nunc</a></li>
                    <li><a href="#">Ut malesuada suscipit augue accumsan rutrum</a></li>
                    <li><a href="#">Suspendisse non est ut augue dapibus pulvinar</a></li>
                </ul>
            </div>
            <div class="col_201">
                <h4 class="replace">Events</h4>
                <ul class="bullet-list">
                    <li><a href="#">At faucibus nulla placerat ac</a><span class="date">March 1<sup>st</sup></span></li>
                    <li><a href="#">Sed iaculis convallis</a><span class="date">April 6th</span></li>
                    <li><a href="#">Lacus eros, luctus a faucibus vitae</a><span class="date">May 18th</span></li>
                </ul>
            </div>
            <div class="col_201">
                <h4 class="replace">Contact</h4>
                <address>
                8407 Kearsarge Dr<br />
                Austin, TX 78745-7647<br />
                P: (512) 280-28232<br />
                F: (512) 555-7856 <br />
                </address>
                <a id="modalmap" href="./element.html">Map It !</a> </div>
            <div class="col_240">
                <h4 class="replace">Twitter feed</h4>
                <div id="twitter"></div>
                <ul id="social">
                    <li><a href="#"><img src="./img/twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#"><img src="./img/facebook.png" alt="Facebook" /></a></li>
                    <li><a href="#"><img src="./img/youtube.png" alt="Youtube" /></a></li>
                    <li><a href="#"><img src="./img/flickr.png" alt="Flickr" /></a></li>
                </ul>
            </div>
            <div id="footer-bottom">
                <div id="toTop" class="left">Back to Top</div>
                <div id="footer-note" class="right"><small>©2011 Theme by <strong>Population 2</strong>, designed for <strong>Themeforest</strong>. Protected by <strong>Copyscape</strong></small></div>
            </div>
        </div>
        <!-- Footer end --> 
	</div>
	<!-- Container end --> 
</div>

<!--Full background-->
<div id="supersized"></div>
</body>
</html>
