{% extends "base_website.html" %}
{% block title %}Fotos{% endblock %}
{% block content %}
<!-- Main begin -->
        <div id="main" class="round_8 clearfix">
            <div class="page_title round_6">
                <h1 class="replace">Fotos</h1>
            </div>
            <div id="content-clear" class="left alpha omega">
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_7.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_7.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_8.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_8.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_15.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_15.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_10.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_10.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="clear"></div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_11.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_11.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_12.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_12.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_13.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_13.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="col_146">
                    <div class="gallery_module"><a href="/media/website/img/stock/600x400_gallery_placeholder_14.jpg" rel="example1"><img src="/media/website/img/stock/130x98_gallery_placeholder_14.jpg" alt="placeholder" /></a> </div>
                </div>
                <div class="clear"></div>
            </div>
            <!--
            <div id="sidebar" class="left">
                <div class="sidebar-widget">
                    <div class="minimal shadow-light">
                        <h4 class="replace">Categorias</h4>
                        <ul>
                            <!--<li class="item"><a href="./fotos.html">Jardín</a></li>
                            <li class="item"><a href="#">Próximamente más fotos!</a></li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- Main end --> 
{% endblock %}
