<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- Meta info begin-->
<title>Mi Arco Iris</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="index, follow" />
<!-- Meta info end-->
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel="stylesheet" type="text/css" href="./css/default.css" />
<link rel="shortcut icon" href="./img/favicon2.ico" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/Museo.font.js"></script>
<script type="text/javascript" src="./js/Museo_Sans.font.js"></script>
<script type="text/javascript" src="./js/supersized.3.1.3.core.min.js"></script>
<script type="text/javascript" src="./js/superfish-compile.js"></script>
<script type="text/javascript" src="./js/jquery.colorbox.js"></script>
<script type="text/javascript" src="./js/jquery.twitter.js"></script>
<script type="text/javascript" src="./js/p2.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div id="content-wrapper"> 
    
    <!-- Container begin -->
    <div id="container"> 
        <!-- Header begin-->
        <div id="header" class="clearfix">
            <div id="logo"> <a href="./index.html"><img src="./img/logo.png" alt="logo" /></a> </div>
            
            <!-- Navigation start -->
            <ul class="sf-menu">
                <li><a href="./colors.html">Home</a></li>
                <li> <a href="./landing.html">Institucional</a></li>
                <li><a href="./colors.html">Actividades</a></li>
                <li> <a href="./landing.html">Fotos</a></li>
                <li><a href="./colors.html">Salas</a></li>
                <li> <a href="./landing.html">Contacto</a></li>
            </ul>
            <!-- Navigation end --> 
        </div>
        <!-- Header end --> 
        
        <!-- Main begin-->
        <div id="main" class="round_8 clearfix">
            <div class="red page_title round_6">
                <h1 class="replace">Bienvenidos!</h1>
            </div>
            <h2 class="replace pad-left-10">Queridas familias:</h2>
            <div class="col_445">
                <p>Mi Arco Iris es una Institución Educativa que desde hace más 
                de 15 años forma parte de la Comunidad de Villa Bosch.</p>
                <p>Nuestro objetivo principal es poder brindar una educación integral que privilegie la construcción de herramientas que le permitan al alumno un aprendizaje significativo y placentero.</p>
                <p>Valoramos al niño como persona, ser social, con identidad, generador de cambios, intelectual, creativo, capaz y reflexivo. Trabajamos, por lo tanto, desde muy temprana edad para que desarrollando el potencial humano por medio de valores, actitudes, conocimientos, conductas socialmente aceptadas y habilidades, lograremos la formación de un sujeto capaz de tener iniciativa, responsabilidad, compromiso y riqueza en su vida interior.</p>
                <p>¡Bienvenidos a nuestro mágico Jardín!...</p>
                <br />
                Atentamente,
                <br />
                Silvana Ziliotto
                <br />
                Directora de Nivel Inicial.
            </div>
            <div class="col_445"> <img class="alignright shadow" src="./img/stock/180x135_post_thumbnail_4.jpg" alt="Post thumbail 4" />
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien <a href="#">ullamcorper pharetra</a>. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                <br />
                <img class="alignleft shadow" src="./img/stock/180x135_post_thumbnail_5.jpg" alt="Post thumbail 5" />
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Main end --> 
        <!-- Footer begin -->
        <div id="footer" class="round_8 clearfix">
            
            <div id="footer-bottom">
                <div id="toTop" class="left">Subir</div>
                <div id="footer-note" class="right">Jardín de infantes Mi Arco Iris - Dirección: Echeverría 5861, Villa Bosch - Teléfono: 4844-0628 - ©2011 Hecho por <strong>mF</strong></div>
            </div>
        </div>
        <!-- Footer end --> 
        
    </div>
    <!-- Container end --> 
</div>
<!--Full background-->
<div id="supersized"></div>
</body>
</html>
