{% extends "base_website.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<!-- Main begin-->
        <div id="main" class="round_8 clearfix">
            <div class="red page_title round_6">
                <h1 class="replace">Bienvenidos!</h1>
            </div>
            <h2 class="replace pad-left-10">Queridas familias:</h2>
            <div class="col_445">
                <p>Mi Arco Iris es una Institución Educativa que desde hace más 
                de 15 años forma parte de la Comunidad de Villa Bosch.</p>
                <p>Nuestro objetivo principal es poder brindar una educación integral que privilegie la construcción de herramientas que le permitan al alumno un aprendizaje significativo y placentero.</p>
                <p>Valoramos al niño como persona, ser social, con identidad, generador de cambios, intelectual, creativo, capaz y reflexivo. Trabajamos, por lo tanto, desde muy temprana edad para que desarrollando el potencial humano por medio de valores, actitudes, conocimientos, conductas socialmente aceptadas y habilidades, lograremos la formación de un sujeto capaz de tener iniciativa, responsabilidad, compromiso y riqueza en su vida interior.</p>
                <p>¡Bienvenidos a nuestro mágico Jardín!...</p>
                <br />
                Atentamente,
                <br />
                Personal de Mi Arco Iris.
            </div>
            
            <div class="col_445"> <img class="alignright shadow" src="/media/website/img/stock/180x135_post_thumbnail_4.jpg" alt="Post thumbail 4" />
                <p>El Jardín de Infantes tiene la responsabilidad de crear oportunidades para que los niños puedan aprender, pues enseñar es 
                generar condiciones para que otro aprenda, tarea primordial de los docentes. Para llevar a cabo los diversos aprendizajes,
                nuestro proyecto cuenta con las siguientes actividades:</p>
                <ul>
                    <li>Literatura.</li>
                    <li>Plástica.</li>
                    <li>Expresión corporal.</li>
                    <li>Iniciación a lecto-escritura.</li>
                    <li>Iniciación al cálculo.</li>
                    <li>Talleres.</li>
                    <li>Informática como herramienta educativa.</li>
                    <li>Música.</li>
                    <li>Educación física.</li>
                    <li>Inglés como herramienta didáctica.</li>
                </ul>
            </div>
            
            <div class="clear"></div>
        </div>
        <!-- Main end --> 

{% endblock %}
        