<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- Meta info begin-->
<title>Peekaboo - Themeforest Site Template by Population2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="index, follow" />
<!-- Meta info end-->
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link rel="stylesheet" type="text/css" href="./css/default.css" />
<link rel="stylesheet" href="./css/nivo-slider.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="./img/favicon.ico" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/cufon-yui.js"></script>
<script type="text/javascript" src="./js/Museo.font.js"></script>
<script type="text/javascript" src="./js/Museo_Sans.font.js"></script>
<script type="text/javascript" src="./js/supersized.3.1.3.core.min.js"></script>
<script type="text/javascript" src="./js/superfish-compile.js"></script>
<script type="text/javascript" src="./js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="./js/jquery.tinycarousel.min.js"></script>
<script type="text/javascript" src="./js/jquery.colorbox.js"></script>
<script type="text/javascript" src="./js/jquery.twitter.js"></script>
<script type="text/javascript" src="./js/p2.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div id="content-wrapper"> 
    
    <!-- Container begin -->
    <div id="container"> 
        <!-- Header begin-->
        <div id="header" class="clearfix">
            <div id="logo"> <a href="./index.html"><img src="./img/logo.png" alt="logo" /></a> </div>
            
            <!-- Navigation start -->
            <ul class="sf-menu">
                <li> <a href="#">Pages</a>
                    <ul>
                        <li> <a href="./about.html">About</a></li>
                        <li> <a href="./blog-1.html">Blog 1</a></li>
                        <li> <a href="./blog-2.html">Blog 2</a></li>
                        <li> <a href="./contact.html">Contact</a></li>
                        <li> <a href="./search.html">Search</a></li>
                        <li> <a href="./testimonials.html">Testimonials</a></li>
                    </ul>
                </li>
                <li><a href="#">Samples</a>
                    <ul>
                        <li> <a href="./element.html">Element</a></li>
                        <li> <a href="./grid.html">Grid</a></li>
                        <li> <a href="./full-width.html">Full Width</a></li>
                        <li> <a href="./single.html">Single</a></li>
                    </ul>
                </li>
                <li> <a href="#">Gallery</a>
                    <ul>
                        <li> <a href="./gallery-1.html">Gallery 1</a></li>
                        <li> <a href="./gallery-2.html">Gallery 2</a></li>
                        <li> <a href="./gallery-3.html">Gallery 3</a></li>
                    </ul>
                </li>
                <li><a href="./colors.html">Colors</a></li>
                <li> <a href="./landing.html">Landing page</a></li>
            </ul>
            <!-- Navigation end --> 
        </div>
        <!-- Header end --> 
        <!-- slide start -->
        <div id="slide-container" class="clearfix">
            <div id="slider-wrapper" class="left">
                <div id="slider" class="nivoSlider"> <a href="http://themeforest.net/?ref=population2" target="_blank"><img src="./img/stock/slide-image-1.jpg" alt="image 1" /></a> <a href="http://graphicriver.net/?ref=population2" target="_blank"><img src="./img/stock/slide-image-2.jpg" alt="" title="This is slide image 2" /></a> <a href="http://codecanyon.net/?ref=population2" target="_blank"><img src="./img/stock/slide-image-3.jpg" alt="" /></a> <img src="./img/stock/slide-image-4.jpg" alt="" title="#htmlcaption" /> </div>
                <div id="htmlcaption" class="nivo-html-caption"> Caption with <a href="#">a link</a>. </div>
            </div>
            <div id="quickmenu" class="left">
                <h2 class="replace">Our Programs</h2>
                <div class="viewport">
                    <ul class="overview">
                        <li><a href="#" class="menu-box round_4"> <span class="title">Infant</span><br />
                            Duis lobortis fermentum erat<span class="arrow"></span> </a></li>
                        <li><a href="#" class="menu-box round_4"> <span class="title">Toddler</span><br />
                            Vivamus viverra arcu pretium<span class="arrow"></span> </a></li>
                        <li><a href="#" class="menu-box round_4"> <span class="title">Early Preschool</span><br />
                            Praesent fringilla rutrum augue<span class="arrow"></span> </a></li>
                        <li><a href="#" class="menu-box round_4"> <span class="title">Preschool</span><br />
                            Vivamus faucibus erat ut lectus<span class="arrow"></span> </a></li>
                        <li><a href="#" class="menu-box round_4"> <span class="title">Pre Kindergarten</span><br />
                            Nunc scelerisque elit a lacus<span class="arrow"></span> </a></li>
                        <li><a href="#" class="menu-box round_4"> <span class="title">Kindergarten</span><br />
                            Phasellus faucibus tempor<span class="arrow"></span> </a></li>
                        <li><a href="#" class="menu-box round_4"> <span class="title">Summer Camp</span><br />
                            Suspendisse risus velit<span class="arrow"></span> </a></li>
                    </ul>
                </div>
                <a class="buttons prev" href="#">Prev</a> <a class="buttons next" href="#">Next</a> </div>
        </div>
        <!-- slide end --> 
        <!-- Main begin-->
        <div id="main" class="round_8 clearfix">
            <div id="home-content" class="left">
                <h2 class="replace">We care them as much as you do</h2>
                <div class="intro">
                    <div class="thumbnail_100_right" style="background: url(http://population-2.com/dev/peekaboo/&quot;img/stock/100x100_thumbnail_1.jpg&quot;) repeat;"></div>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Vestibulum tortor quam, feugiat vitae, ultricies eget. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex.</p>
                </div>
                <hr />
                <div class="col_201 alpha">
                    <h3 class="replace">Our Approach</h3>
                    <div class="thumbnail_60_left" style="background: url(http://population-2.com/dev/peekaboo/&quot;img/stock/60x60_thumbnail_5.jpg&quot;) repeat;"></div>
                    <p class="landing_col">Nunc quis arcu. Donec ante. Gangsta placerizzle maurizzle stuff lectus. Fo pot eleifend leo malesuada fames ac turpis. </p>
                    <a href="#" class="fancy small">Learn More <img class="arrow" src="./img/nav-right-arrow.png" /></a><br />
                </div>
                <div class="col_201">
                    <h3 class="replace">Active Learning</h3>
                    <div class="thumbnail_60_left" style="background: url(http://population-2.com/dev/peekaboo/&quot;img/stock/60x60_thumbnail_4.jpg&quot;) repeat;"></div>
                    <p class="landing_col">Nunc quis arcu. Donec ante. Gangsta placerizzle malesuada fames ac turpis egestas maurizzle stuff lectus. Fo shizzle pot ac turpis. </p>
                    <a href="#" class="fancy small">Learn More <img class="arrow" src="./img/nav-right-arrow.png" /></a><br />
                </div>
                <div class="col_201 omega">
                    <h3 class="replace">Our School</h3>
                    <div class="thumbnail_60_left" style="background: url(http://population-2.com/dev/peekaboo/&quot;img/stock/60x60_thumbnail_6.jpg&quot;) repeat;"></div>
                    <p class="landing_col">Nunc quis arcu. Donec ante. Gangsta placerizzle stuff malesuada fames ac turpis egestas lectus. Fo shizzle pot tortor quam. </p>
                    <a href="#" class="fancy small">Learn More <img class="arrow" src="./img/nav-right-arrow.png" /></a><br />
                </div>
            </div>
            <div id="sidebar-home" class="left">
                <div class="sidebar-widget">
                    <div class="search">
                        <form action="./search.html" method="post" />
                            <div>
                                <input name="text" type="text" class="search-field" alt="Search" />
                                <input name="submit" type="image" class="search-submit" value="search" src="./img/search.png" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-widget shadow-light"> <a href="#" class="promo-container"><img src="./img/stock/promo-245x162.jpg" alt="ad" /></a></div>
                <div class="sidebar-widget shadow-light">
                    <div class="testimonials-container ">
                        <h3 class="replace">What they say</h3>
                        <p><a href="#">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac egestas.</a><br />
                            <small><em>John Doe</em></small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main end --> 
        <!-- Footer begin -->
        <div id="footer" class="round_8 clearfix">
            <div class="col_201">
                <h4 class="replace">Latest News</h4>
                <ul class="bullet-list">
                    <li><a href="#">Donec ut vestibulum nunc</a></li>
                    <li><a href="#">Ut malesuada suscipit augue accumsan rutrum</a></li>
                    <li><a href="#">Suspendisse non est ut augue dapibus pulvinar</a></li>
                </ul>
            </div>
            <div class="col_201">
                <h4 class="replace">Events</h4>
                <ul class="bullet-list">
                    <li><a href="#">At faucibus nulla placerat ac</a><span class="date">March 1<sup>st</sup></span></li>
                    <li><a href="#">Sed iaculis convallis</a><span class="date">April 6th</span></li>
                    <li><a href="#">Lacus eros, luctus a faucibus vitae</a><span class="date">May 18th</span></li>
                </ul>
            </div>
            <div class="col_201">
                <h4 class="replace">Contact</h4>
                <address>
                8407 Kearsarge Dr<br />
                Austin, TX 78745-7647<br />
                P: (512) 280-28232<br />
                F: (512) 555-7856 <br />
                </address>
                <a id="modalmap" href="./index.html">Map It !</a> </div>
            <div class="col_240">
                <h4 class="replace">Twitter feed</h4>
                <div id="twitter"></div>
                <ul id="social">
                    <li><a href="#"><img src="./img/twitter.png" alt="Twitter" /></a></li>
                    <li><a href="#"><img src="./img/facebook.png" alt="Facebook" /></a></li>
                    <li><a href="#"><img src="./img/youtube.png" alt="Youtube" /></a></li>
                    <li><a href="#"><img src="./img/flickr.png" alt="Flickr" /></a></li>
                </ul>
            </div>
            <div id="footer-bottom"> <div id="toTop" class="left">Back to Top</div><div id="footer-note" class="right"><small>©2011 Diseñado por <strong>mF</strong></div>
                
            </div>
        </div>
        <!-- Footer end --> 
        
    </div>
    <!-- Container end --> 
</div>

<!--Full background-->
<div id="supersized"></div>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
            effect: 'fade',         
        });
    });
</script> 
<script type="text/javascript">

    // Quick Menu
    $('#quickmenu').tinycarousel({ 
        axis: 'y',
        display: 3, 
        duration: 500,
    });
</script> 

</body>
</html>
