{% extends "base_website.html" %}
{% block title %}Institucional{% endblock %}
{% block content %}
<!-- Main begin-->
        <div id="main" class="round_8 clearfix">
            <div class="red page_title round_6">
                <h1 class="replace">Institucional</h1>
            </div>
            <div class="full">
                <ul class="checklist">
                    <li id="comedor" style="cursor:pointer;"><strong>Comedor escolar</strong></li>
                            <p class="texto_comedor" style="display:none">Desde hace varios años nuestro Jardín de Infantes ofrece para aquellas familias que así lo deseen la posibilidad de que sus hijos puedan almorzar en la Institución.  El menú es confeccionado teniendo en cuenta dos aspectos importantes:</p>
                            <p class="texto_comedor" style="display:none">-Una alimentación sana, saludable, equilibrada y variable.</p>
                            <p class="texto_comedor" style="display:none">-Hábitos alimentarios para los niños en edad escolar.</p>
                            <p class="texto_comedor" style="display:none">El servicio cuenta con personal idóneo y capacitado quienes son responsables del cuidado de los alumnos; como así también, formando parte de nuestro Proyecto Educativo Institucional, promueven la adquisición de hábitos sociales en el momento del almuerzo.Entendemos que la formación de dichos hábitos debe comenzar desde los primeros años porque instalados tempranamente tienden a perdurar a lo largo de la vida.  Por esta razón, el rol del personal en el desarrollo de estos hábitos saludables es fundamental ya que no solo enseñan con el ejemplo, sino que también son quienes pueden orientar a los alumnos.</p>
                            <p class="texto_comedor" style="display:none">Cuando nos alimentamos:</p>
                            <p class="texto_comedor" style="display:none">-Nos nutrimos.</p>
                            <p class="texto_comedor" style="display:none">-Compartimos el afecto.</p>
                            <p class="texto_comedor" style="display:none">-Compartimos historias, gustos y costumbres.</p>
                            <p class="texto_comedor" style="display:none">-Compartimos momentos importantes de nuestra vida.</p>
                        
                    <li id="convivencia" style="cursor:pointer;"><strong>Criterios para la convivencia</strong></li>
                            <p class=" texto_convivencia" style="display:none">Forma parte de nuestras metas mantener una convivencia armónica en la que prevalezcan ciertos valores como son el respeto, la honestidad, la libertad,  la responsabilidad, el compromiso, el esfuerzo, la solidaridad  y la igualdad de oportunidades.  Para ello es indispensable el trabajo en conjunto  entre el jardín y la familia. Reflexionemos entonces para incorporar alguna de estas expectativas:</p>
                            <p class="texto_convivencia" style="display:none">-Respetemos a todas las personas cuidando la manera y forma de comunicarnos y relacionarnos.</p>
                            <p class="texto_convivencia" style="display:none">-Respetemos los tiempos  de cada uno.</p>
                            <p class="texto_convivencia" style="display:none">-Valoremos las ideas de los demás aunque difieren de las nuestras entendiendo además que son posibles los desacuerdos.</p>
                            <p class="texto_convivencia" style="display:none">-Seamos capaces de ponernos en el lugar del otro.</p>
                            <p class="texto_convivencia" style="display:none">-Tengamos una escucha activa.</p>
                            <p class="texto_convivencia" style="display:none">-Promovamos acuerdos objetivos en beneficios de todos.</p>
                            <p class="texto_convivencia" style="display:none">-Asumamos las responsabilidades de nuestros propios actos reparando el daño causado.</p>
                            <p class="texto_convivencia" style="display:none">-Seamos tolerantes a la frustración, colaboradores y solidarios.</p>
                            <p class="texto_convivencia" style="display:none">-Prioricemos  a los niños.</p>
                            <p class="texto_convivencia" style="display:none">-Reflexionemos  sobre la coherencia entre  nuestras acciones y los valores que sustentamos.</p>
                            <p class="texto_convivencia" style="display:none">-Expresemos nuestras dudas, sugerencias, temores o disconformidades ante quien corresponda apoyados en un  dialogo abierto en comprensivo.</p> 
                                                 
                    <li id="ideario" style="cursor:pointer;"><strong>Ideario</strong></li>
                            <p class=" texto_ideario" style="display:none">Nuestro Jardín de Infantes se define como una Institución Educativa laica y mixta, respetuosa de la diversidad de cultura, ideologías y capacidades; defensora de la familia como principal núcleo social y respetuoso del país en el que vivimos.</p>
                            <p class="texto_ideario" style="display:none">Proponemos una Institución...
                            <p class="texto_ideario" style="display:none">-Abierta, que posibilite un intercambio permanente y un dialogo fluido con los padres y la comunidad.
                            <p class="texto_ideario" style="display:none">-Que posea un carácter integral, es decir, propiciando el desarrollo de todo el potencial infantil lo que implica una Institución que contenga y entienda al niño brindándole atención especializada en el aspecto físico, afectivo, cultural, asistencial. No solo brindando respuestas inmediatas sino elaborando estrategias comunes tendiendo a una tarea preventiva que posibilite la transformación activa de la realidad. 
                            <p class="texto_ideario" style="display:none">-Que sea un lugar para crecer, donde el cuidado, la alimentación y la higiene se combinen con la intencionalidad pedagógica y un sostén afectivo que conformen un ambiente donde 'vale la pena estar'.
                            <p class="texto_ideario" style="display:none">Pretendemos que de este modo nuestros alumnos:
                            <p class="texto_ideario" style="display:none">-Aprendan a ser.</p>
                            <p class="texto_ideario" style="display:none">-Aprendan a aprender.</p>
                            <p class="texto_ideario" style="display:none">-Aprendan a hacer.</p>
                            <p class="texto_ideario" style="display:none">-Aprenda a transmitir.</p>
                            <p class="texto_ideario" style="display:none">-Aprendan a trabajar.</p>
                            <p class="texto_ideario" style="display:none">-Aprendan a valorar.</p>
                            <p class="texto_ideario" style="display:none">-Aprendan a disfrutar.</p>
                            <p class="texto_ideario" style="display:none">-Aprendan a vivir.</p>
        
                    <li id="funcionamiento" style="cursor:pointer;"><strong>Funcionamiento</strong></li>
                            <p class=" texto_funcionamiento" style="display:none">¿Cómo funcionamos en Mi Arco Iris?</p>
                            <p class=" texto_funcionamiento" style="display:none">-Al solicitar el ingreso a nuestra Institución Educativa deben presentar en forma de original y fotocopia la siguiente documentación: DNI, Certificado de nacimiento, Carnet de vacunación</p>
                            <p class=" texto_funcionamiento" style="display:none">-Una vez comenzado el año escolar, la familia tendrá una entrevista con la docente del niño, adjuntando además una anamnesis para comenzar a conformar el legajo al alumno.</p> 
                            <p class=" texto_funcionamiento" style="display:none">-El niño realizará un periodo de iniciación, con horarios ya establecidos con el objetivo de formar un buen vinculo con la docente, aceptar la separación momentánea de su grupo familiar, conocer el funcionamiento de nuestra Institución, relacionarse con todos los integrantes de la misma y de este modo comenzar a adaptarse.</p>
                            <p class=" texto_funcionamiento" style="display:none">-Durante el año escolar se realizan tres reuniones de padres.  Las mismas son de carácter obligatorio e informativo acerca del grupo de niños que conforman la sala, los proyectos a trabajar, los objetivos y propósitos que se plantean, las diferentes actividades realizadas.  Además se transmitirá siempre nuestra ideología latente en cada paso que damos.</p>
                            <p class=" texto_funcionamiento" style="display:none">-Se realizan un informe grupal una vez finalizado el periodo de iniciación y dos informes narrativos, que plasman el seguimiento minucioso realizado por las docentes y supervisado por la directora.  En ellos se encontrarán los contenidos trabajados durante el año, los avances evolutivos, así como también el modo de personalidad que va desarrollando cada niño entre otras cosas.</p>
                            <p class=" texto_funcionamiento" style="display:none">-La cartelera y el cuaderno de comunicado de cada alumno, así como las diferentes entrevistas o encuentros con directivos y docentes, serán pilar fundamental para mantener una comunicación que debe primar entre el Jardín de Infantes y la Familia.</p>
                            
                    <!--<li id="logo" style="cursor:pointer;"><strong>¿Por qué ese logo?</strong></li>
                            <p class="texto_logo" style="display:none">Si hacemos referencia al nombre que identifica a nuestro jardín de infantes, debemos remontarnos a los orígenes que llevaron en sus comienzos a nombrar de este modo al jardín: 'El Arco Iris es un fenómeno natural, óptico, bello, luminoso y espectacular, que se produce en la atmósfera cuando el sol ilumina una nube o cortina de agua desde detrás del observador, mostrando los colores del espectro ordenadamente'.   Es un regalo visual que alegra el espíritu. Detrás de él se guardan celosamente leyendas de tesoros escondidos  y beneficios de quien lo encuentra que hacen llenar de misterio y fantasía su aparición. </p>
                            <p class="texto_logo" style="display:none">Teniendo en cuenta  las singulares características  de este fenómeno natural es que pensamos relacionarlo con aquello que identifica nuestra tan querida Institución:</p>
                            <p class="texto_logo" style="display:none">-El logo de nuestro Jardín de Infantes, está formado por un conjunto de colores que identifica el camino que van recorriendo los niños a medida que cambia de sala y el color de la misma.</p>
                            <p class="texto_logo" style="display:none">-Pretende mantener la singularidad y belleza natural que ofrece el fenómeno, manteniendo nuestra personalidad y formación ética y moral.</p>
                            <p class="texto_logo" style="display:none">-Desea contener e iluminar con su arco a sus pequeños integrantes y a toda la comunidad cercana.</p>
                            <p class="texto_logo" style="display:none">-Quiere trasmitir, como lo hace el arco iris, sensaciones, de alegría, emoción y sobre todo bienestar.</p>
                            <p class="texto_logo" style="display:none">-Una estrella en su comienzo, marca  en el universo, el nacimiento de cada niño y la luz que él nos trae cundo ingresa al jardín.</p>
                            <p class="texto_logo" style="display:none">-El lápiz en su final, indica  las huellas que cada niño deja en nuestra institución y el final del recorrido en la misma para  poder continuar lleno de herramientas, aprendizajes y autonomía en su próxima etapa escolar.</p>
                    -->
                    
            </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Main end --> 
{% endblock %}