{% extends "base_website.html" %}
{% block title %}Novedades{% endblock %}
{% block content %}
    <!-- Main begin-->
        <div id="main" class="round_8 clearfix">
            <div class="red page_title round_6">
                <h1 class="replace">Novedades</h1>
            </div>
            <div class="full">
                <h4>Inscripciones 2014</h4>
                Por favor, comuníquese telefónicamente de 8 a 11.30hs para concertar una entrevista.
            </div>
            <div class="clear"></div>
        </div>
        <!-- Main end --> 
{% endblock %}