{% extends "base_website.html" %}
{% block title %}Salas{% endblock %}
{% block content %}
    <!-- Main begin-->
    <div id="main" class="round_8 clearfix">
        <div class="red page_title round_6">
            <h1 class="replace">Salas</h1>
        </div>
        <div class="full">
            <h4>Las salitas del jardín se organizan de acuerdo a las edades:</h4>
            <ul class="checklist">
                <li>Sala de 2 años</li>
                <li>Sala de 3 años</li>
                <li>Sala de 4 años</li>
                <li>Sala de 5 años</li>
            </ul>
            <h4>Horarios escolares:</h4>
            <ul class="checklist">
                <li>Turno mañana: 8 a 12 hs</li>
                <li>Turno tarde: 13 a 17 hs</li>
                <li>Comedor escolar optativo:
                12 a 12:45 hs.</li>             
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Main end --> 
{% endblock %}