{% extends "base_pacc.html" %}
{% load i18n %}

{% block nav %}
<ul class="breadcrumb">
    <li class="active">
        <a href="#">Cambiar password</a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
    <h2>Cambiar password</h2>
    <br>
    <br>
    <div class="row">
        <div class="span8 offset4">
            <form method="post" action=".">
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Submit' %}" />
            </form> 
        </div>
    </div>
{% endblock %}
