{% extends "base_website.html" %}
{% load i18n %}
{% block content %}
{% block body %}
<div id="main" class="round_8 clearfix">
<h1>Eliminar</h1>
¿Está seguro que desea eliminar?

<form action="." method="POST">
    {% csrf_token %}
    {{ object }} <br/>
    <input type="submit" value="{% trans "Delete" %}" />
    <input type="button" value="{% trans "Cancel" %}" onclick="window.location='{{next}}'"/>

    <input type="hidden" name="next" value="{{next|default:""}}"/>
</form>
</div>
{% endblock %}
{% endblock %}
