{% extends 'new/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Añadir Maestra{% endblock %}
{% block breadcumb %}
  <li>
    <i class="icon-home"></i>
    <a href="{% url 'jardin' %}">Inicio</a>
  </li>
  <li>
    <i class="icon-group"></i>
    <a href="#">Gestión de Empleados</a>
  </li>
  <li>    
    <a href="{% url 'maestras-jardin' %}">Maestras</a>
  </li>
  <li class="current">    
    <a href="#">Añadir Maestra</a>
  </li>
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="panel-body">
            <div class="col-lg-4">
                <form class="form-horizontal tasi-form" method="POST">{% csrf_token %}
                {{form.errors}}
                {% crispy form %}
                 
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script>
        $('#gestion-empleados').addClass('current');
        $('#maestras').addClass('current');
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/static/js/datepicker-edujango.js"></script>
{% endblock %}