{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'JMAI' %}{% endblock %}

{% block extrastyle %}
<style>
#header{ background-color: #fff; border-bottom: solid 3px #CF003F; } <!-- separador -->
#header a:link,
#header a:visited {
    color: #D44184;
}

#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #F26E09; }
#user-tools {
    color: #D44184;
}
#user-tools a {
    color: #D44184;
}
p.texto {
    color:#F26E09;
    font-weight: bold;
}
</style>
{% endblock %}

{% block branding %}
{% comment %}<h1 id="site-name" > {% trans 'JMAI - Gestion jardin de infantes' %}</h1>{% endcomment %}
<span style="margin-left: 5px"><a href="/admin/"><img id="logo" width="200px" src="{% static 'images/logo/logo2.png' %}"></a></span>
{% endblock %}

{% block nav-global %}{% endblock %}

