{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <title>{% block title %}eDujango{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/blueprint/screen.css' %}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{% static 'blueprint/print.css' %}" type="text/css" media="print">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">    
        <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <script type="text/javascript" src="{% static 'js/jquery-1.4.2.js' %}"></script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="header" class="span-24 last">
                <div class="span-9 prepend-1 append-6">
                    <a href="{% url 'index' %}"><img id="logo" src="{% static 'images/logo/logo2.png' %}"></a>
                </div>
                <div class="span-7 append-1 last">
                    <span id="bienvenida">Bienvenido {{ user.username }}</span> / <a href="/accounts/logout">Logout.</a>
                </div>
            </div>
            <hr class="down">
        {% block main_content %}{% endblock %}
        
        {% block extra_body %}{% endblock %}
            <div class="span-22 prepend-1 append-1 last">
                <hr />
            </div>
            <div id="footer" class="span-24 last">
                mF Tech company
            </div>
        </div> 
    </body>
</html>    
