{% extends "base_pacc.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="https://datatables.net/media/blog/bootstrap_2/DT_bootstrap.css" type="text/css">
    <script type="text/javascript" src="https://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://datatables.net/media/blog/bootstrap_2/DT_bootstrap.js"></script>
{% endblock %}

{% block title %}Alumnos{{ block.super }}{% endblock %}

{% block nav %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'index' %}">Inicio</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'f_index' %}">Finanzas</a> <span class="divider">/</span>
    </li>
    <li class="active">
        <a href="#">Alumnos</a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
    {% comment %}<input type="button" value="Generate Monthly Payments">{% endcomment %}


<h2>Alumnos</h2>

<div class="row">
    <div class="span3 offset9"><a href="{% url 'f_monthly_payment' %}">Generar cuotas mensuales</a></div>
</div>
<!--
<div class="row">
    <div class="span3 offset2">Se le adeuda un total de $ {{ deuda }}</div>
</div>
-->
   
    <div class="row">
        <div class="span8 offset2">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Deuda</th>
                </tr>
            </thead>
                <tbody>
                    {% for st in students %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'f_student_info' st.id %}">{{ st.get_full_name }}</a></td>
                            <td>{{ st.get_deuda.0 }} + {{ st.get_deuda.1 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% comment %}
            <div class="pagination">
                <ul>
                    <li><a href="#">Anterior</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Siguiente</a></li>
                </ul>
            </div>
            {% endcomment %}
        </div>
    </div>    

    <script type="text/javascript" charset="utf-8">
        $.extend( true, $.fn.dataTable.defaults, {
            oLanguage:     {
                sProcessing:     "Procesando...",
                sSearch:         "Buscar:",
                sLengthMenu:     "Mostrar _MENU_ registros",
                sZeroRecords:    "No se encontraron resultados",
                sEmptyTable:     "Ningún dato disponible en esta tabla",
                sInfo:           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                sInfoEmpty:      "Mostrando registros del 0 al 0 de un total de 0 registros",
                sInfoFiltered:   "(filtrado de un total de _MAX_ registros)",
                sInfoPostFix:    "",
                sUrl:            "",
                sInfoThousands:  ",",
                sLoadingRecords: "Cargando...",
                oPaginate: {
                    sFirst:    "Primero",
                    sLast:     "Último",
                    sNext:     "Siguiente",
                    sPrevious: "Anterior"
                },
                oAria: {
                    sSortAscending:  ": Activar para ordenar la columna de manera ascendente",
                    sSortDescending: ": Activar para ordenar la columna de manera descendente"
                }
            },
        });

        $(document).ready( function () {
            var table = $('#example').DataTable();
        } );
      </script>
{% endblock %}
