<html>
<!--

        right: 15cm;
        left: 20cm;
        top: 40cm;
        bottom: 30cm;
-->

<head>
    <meta http-equiv="REFRESH" content="0;url={% url 'f_student_info' student.id %}">
</head>


<style>
@page {
    size: a4 portrait;
    @frame {
        -pdf-frame-content: main_text;
        -pdf-frame-border: 0;
        margin-right: 1.5cm;
        margin-left: 2.0cm;
        margin-top: 4.0cm;
        margin-bottom: 3.0cm;
    }
}
</style>

<body>
    <div id="main_text">
        <p>{{ fecha|date:"d/m/Y" }}</p>
        <p>{{ student.responsables.all.0.get_full_name }}</p>
        <p>{{ student.domicilio }}</p>

        <!--Detalles-->
        <ul>
        {% for item in items %}
            <p>{{ item.descripcion }}</p>
            <p>{{ item.importe }}</p>
        {% endfor %}
        </ul>

        {% if comentarios %}
            <p>{{ comentarios }}</p>
        {% endif %}
        {% comment %}
        {% if invoice %}
        {% elif receipt %}
        {% endif %}
        {% endcomment %}

        <!--Total-->
        <p>{{ pago.abona }}</p>
    </div>
</body>
</html>
