{% extends "base_pacc.html" %}
 
{% block title %}Nuevo Pago - {{ block.super }}{% endblock %}

{% block nav %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'index' %}">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'f_index' %}">Finanzas</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'f_empleados' %}">Empleados</a> <span class="divider">/</span>
    </li>
    <li class="active">
        <a href="#">Nuevo pago</a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
  
  {% comment %}
  <a href="{% url 'f_student_report' student.id %}">Crear factura</a>
  {% endcomment %}
  
  <div class="row">
    <div class="span8 offset2">
        <p>{{ empleado.last_name }}, {{ empleado.first_name }}{{ empleado.second_name }}: <p><span class="inf">Deuda:</span> $ {{ empleado.get_deuda }}</p></p>
        <form id="create" method="POST" action="">{% csrf_token %}
                <ul id="list">
                {{ form.as_ul }}
                </ul>
            <input id="boton_aceptar" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
